/* Basic colors */

$baseTextColor:			#555;
$white:					#fff;

$linkColor:				#8e44ad;


/* Fonts */
$baseFontFamily:		'Open Sans', Verdana, sans-serif;
$headingsFontFamily:	'Open Sans', Verdana, sans-serif;
$boldFontFamily:		'Open Sans', Verdana, sans-serif;

$altFontFamily:			Georgia, 'Times New Roman', Times, serif;